<%- include('../cdn') %>
<h3 class="ui block header">
        Hi, Doctor Fill Details To Login
</h3>
<center style="margin: 5%;">
    <form class="ui form"  method="POST" action="/doctor/login">
            <div class="field" style="width: 30%;">
                <label>Email or Id</label>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="field" style="width: 30%;"> 
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button class="ui button" type="submit">Submit</button><br>
            <div class="field" style="width: 30%;margin: auto;margin-top: 5%;">
                <center><a href="/doctor/forgot" style="color: firebrick;font-size: 1.2em;">Forgot Password ????</a></center>
            </div>
    </form>
</center>
<% if(success == 1) { %>
    <div class="ui warning message" style="width:40%;margin: auto;">
            <div class="header">
              Login Failed
            </div>
            Check your email and password
          </div>
<% } %>
