<!DOCTYPE html>
<html>
    <head>       
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <div>
        <h2 class="ui center aligned icon header">
                <a href="/" style="text-decoration: none;"><i class="hospital outline icon"></i>
                Hospital</a>
        </h2>
    </div> 
</html>