<%- include('cdn'); %>
<h3 class="ui block header" style="width: 80%;margin: auto;">
        Login As
</h3>
<center style="margin: 10%;">
    <div class="ui one column grid">
        <div class="column">
            <a href="/doctor/login"><button class="massive ui basic button">
                    <i class="icon user"></i>
                    Doctor
            </button></a>
        </div>
        <div class="column">
                <a href="/reception/login">
                <button class="massive ui basic button">
                        <i class="icon user"></i>
                        Receptionist
                </button></a>
        </div>
        <div class="column">
             <a href="/pharma/login">   
            <button class="massive ui basic button">
                    <i class="icon user"></i>
                    Pharmacist
            </button></a>
        </div>
    </div>
</center>
